---
import { SITE } from '~/config';
import Layout from '@layouts/PageLayout.astro';
import Hero from '@components/widgets/Hero.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}>
    <Fragment slot="title">
      Hello I Am <span class="hidden lg:inline">Ns2Kracy</span>
    </Fragment>
  </Hero>
</Layout>
